<section>
  <h1>About Me</h1>
  <p>I'm a software developer based in Cork, Ireland. I use JavaScript, C++ and Java in my day job and have started to create iPhone apps in my spare time.</p>

  <strong>Contact Details:</strong>

  <ul>
    <li><strong>Email:</strong> gercondonblog (at) gmail (dot) com</li>
    <li><strong>Google Plus:</strong> <a href="https://plus.google.com/100711646677802807822?rel=author">Gerard Condon</a></li>
    <li><strong>Twitter:</strong> <a href="https://twitter.com/gercondon">gercondon</a></li>
</ul>
</section>