<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="https://www.gerardcondon.com/chess">Chess</a></li>
  <li><a href="https://www.gerardcondon.com/music">Music</a></li>
  <li><a href="http://www.gerardcondon.com/tools-docs/">Docs</a></li>
  <li><a href="{{ root_url }}/projects">Projects</a></li>
  <li><a href="{{ root_url }}/links">Links</a></li>
  <li><a href="{{ root_url }}/about">About</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
